<footer class="footer-wrapper">
    <div class="content-wrapper">
      <a href="https://goo.gl/forms/rWkE6Z2zcjRoO6Ma2" target="_blank"><div class="feedback-footer">Send Feedback</div></a>
      <div class="footer-legal">
        <p>&copy;Copyright 2018-2025 Michael Guse
        <br/>All rights reserved. Various trademarks held by their respective owners.
        </p>
      </div>
    </div>
  </footer>