<footer class="footer-wrapper">
    <div class="content-wrapper">
      <div class="footer-links">
        <a href="https://www.salesforce.com/company/privacy/" target="_blank">Privacy</a>&nbsp;|&nbsp;
        <a href="https://www.salesforce.com/company/disclosure/" target="_blank">Responsible Disclosure</a>&nbsp;|&nbsp;
        <a href="https://trust.salesforce.com/en/" target="_blank">Trust</a>&nbsp;|&nbsp;
        <a href="https://www.salesforce.com/form/contact/contactme.jsp" target="_blank">Contact</a>
      </div>
      <div class="footer-legal">
        <p>&copy;Copyright 2018 Salesforce.com, inc. All rights reserved. Various trademarks held by their respective
          owners.<br/>Salesforce.com, inc. The Landmark at One Market, Suite 300, San Francisco, CA 94105, United States</p>
      </div>
    </div>
  </footer>