<header class="header-container">
    <div class="instance-display-home">
        <div class="release-name-block">
          <!-- Release name block -->
          <p class="instance-header" style="color: white; text-align: center;">Production Release</p>
          <p class="rel-type-text" style="color: white; text-align: center;"><%= locals.curr_prod_external  %></p>
        </div>
        <div>&nbsp;&nbsp;</div>
        <!--
        <div class="release-name-block">
          <p class="instance-header" style="color: lightgreen; text-align: center;">Sandbox Preview</p>
          <p class="rel-type-text" style="color: lightgreen; text-align: center;"><%= locals.curr_preview_external  %></p>
        </div>
        -->
        <div class="release-name-block">
          <p class="instance-header" style="color: orange; text-align: center;">Spring '23 Preview</p>
          <p class="rel-type-text" style="color: orange; text-align: center;">on January 6</p>
        </div>
      </div>
  <div class="content-wrapper">
    <div class="half">
      <h1>Salesforce Sandbox<br />Preview Guide</h1>
    </div>
    <div class="half">
      <p>Are you taking advantage of the Sandbox Preview Guide to test, catch, 
        and report bugs before they bite? Enter your Sandbox instance below to 
        determine what needs to be done, based on what instance your sandbox org is currently on.
      </p>
      <div class="back-link-header">
          <button type="button" class="back-link-button" ><a href="/">Another&nbsp;Instance&nbsp;Lookup</a></button>
      </div>
    </div>
  </div>
</header>
