<header class="header-container">
    <div class="instance-display-home">
        <div class="release-name-block">
          <!-- Release name block -->
          <p class="instance-header" style="color: white;">Current Production Release</p>
          <p class="rel-type-text" style="color: white; text-align: center;"><%= locals.curr_prod_external  %></p>
        </div>
    </div>
  <div class="content-wrapper">
    <div class="half">
      <h1>Salesforce Sandbox<br />Preview Guide</h1>
    </div>
    <div class="half">
      <p>Are you taking advantage of the Sandbox Preview window to test, catch, 
        and report bugs before they bite? Enter your Sandbox instance below to 
        determine what needs to be done, based on what instance your sandbox org is currently on.
      </p>
      <div class="back-link-header">
          <button type="button" style="font-size:1em;background-color:#ddd;"><a href="/" style="color: #000000;">Another&nbsp;Instance&nbsp;Lookup</a></button>
      </div>
    </div>
  </div>
</header>
