<div class="helpful-links">
    <h4>Additional Information</h4>
    <p>Review a <a href="/cheatsheet" target="_blank">cheatsheet</a> about the Sandbox Refresh and Preview process.
    </p>
    <p>Watch a video on
      <a href="https://salesforce.vidyard.com/watch/uVRaUiL6EtzoEKNWjVFSWE?" target="_blank">Sandbox Preview Explained</a>.
    </p>
    <p>Read the Summer '23 Sandbox Preview Key Dates post on the
        <a href="https://www.salesforce.com/blog/key-dates-summer-sandbox-preview/"
          target="_blank">Salesforce Blog</a>.
    </p>
    <p>Read the Salesforce Sandbox Preview Instructions on 
        <a href="https://help.salesforce.com/s/articleView?id=000357271&type=1"
        target="_blank">Salesforce Help</a>.
  </p>
  <p>For more resources, to ask questions and engage with experts around release readiness, please join
    the
    <a href="http://www.salesforce.com/success-releasereadiness" target="_blank"> Release Readiness Trailblazers</a> group in the Salesforce Trailblazer Community.
  </p>
</div>