<div class="helpful-links">
    <h4>Additional Information</h4>
    <p>Review a <a href="/cheatsheet" target="_blank">cheatsheet</a> about the Sandbox Refresh and Preview process.
    </p>
    <p>Watch a video on
      <a href="http://salesforce.vidyard.com/watch/dzC5Xx9GF8dJEM8wUqGim5" target="_blank">Demystifying Sandbox Preview</a>.
    </p>
    <p>For more resources, to ask questions and engage with experts around release readiness, please join
      the
      <a href="http://www.salesforce.com/success-releasereadiness" target="_blank"> Release Readiness Trailblazers</a> group in the Salesforce Trailblazer Community.
    </p>
    <p>Read the Winter '19 Sandbox Preview on the
        <a href="https://www.salesforce.com/blog/2018/08/winter-19-release-sandbox-preview-instructions.html"
          target="_blank">Salesforce Blog</a>.
    </p>
</div>