<nav class="nav-container">
  <div class="content-wrapper">
    <div class="sf-logo">
      <img src="/images/sf-logo.png" alt="Salesforce" />
    </div>
    <div class="back-link">
      <a href="/">Previous Page</a>
    </div>
    <div class="feedback">
      <a href="https://goo.gl/forms/rWkE6Z2zcjRoO6Ma2" target="_blank">Feedback</a>
    </div>
  </div>
  <div id="beta-ribbon">
    <img src="/images/beta.png" alt="Beta Version" />
</div>
</nav>
