<nav class="nav-container">
  <div class="content-wrapper">
    <div class="sf-logo">
      <img src="/images/sf-logo.png" alt="Salesforce" />
    </div>
  </div>
  <div id="feedback">
    <a href="https://goo.gl/forms/rWkE6Z2zcjRoO6Ma2" target="_blank"><img src="/images/feedback_icon.png" alt="Feedback" /></a>
  </div>
  <div id="beta-ribbon">
    <img src="/images/beta.png" alt="Beta Version" />
</div>
</nav>