/* ------------------
    GRID
-------------------*/

$small-screen: small-screen 0 767px;
$medium-screen: medium-screen 768px 1023px;
$large-screen: large-screen 1024px 1311px;
$xlarge-screen: xlarge-screen 1312px;


/* ------------------
    COLORS
-------------------*/

$color-white: #fff;
$color-black: #000;
$sf-blue: #00A1E0;
$sf-gray: #7C868D;
$sf-haze: #C1B9B4;
$sf-cirrus: #215CA0;
$sf-stratus: #003c4c;
$sf-cumulus: #032E61;
$karl-the-fog: #f4f4f4;
$footer-bg: #081e29;
$footer-links: #3290c5;

/* ------------------
    FONTS
-------------------*/

@font-face {
  font-family: 'sf light';
  src:  url('fonts/SalesforceSans-Light.eot');
  src:  url('fonts/SalesforceSans-Light.eot') format('embedded-opentype'),
    url('fonts/SalesforceSans-Light.ttf') format('truetype'),
    url('fonts/SalesforceSans-Light.woff') format('woff'),
    url('fonts/SalesforceSans-Light.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'sf thin';
  src:  url('fonts/SalesforceSans-Thin.eot');
  src:  url('fonts/SalesforceSans-Thin.eot') format('embedded-opentype'),
    url('fonts/SalesforceSans-Thin.ttf') format('truetype'),
    url('fonts/SalesforceSans-Thin.woff') format('woff'),
    url('fonts/SalesforceSans-Thin.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'sf regular';
  src:  url('fonts/SalesforceSans-Regular.eot');
  src:  url('fonts/SalesforceSans-Regular.eot') format('embedded-opentype'),
    url('fonts/SalesforceSans-Regular.ttf') format('truetype'),
    url('fonts/SalesforceSans-Regular.woff') format('woff'),
    url('fonts/SalesforceSans-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'sf bold';
  src:  url('fonts/SalesforceSans-Bold.eot');
  src:  url('fonts/SalesforceSans-Bold.eot') format('embedded-opentype'),
    url('fonts/SalesforceSans-Bold.ttf') format('truetype'),
    url('fonts/SalesforceSans-Bold.woff') format('woff'),
    url('fonts/SalesforceSans-Bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

$sf-light: 'sf light', Helvetica, Arial, sans-serif;
$sf-thin: 'sf thin', Helvetica, Arial, sans-serif;
$sf-regular: 'sf regular', Helvetica, Arial, sans-serif;
$sf-bold: 'sf bold', Helvetica, Arial, sans-serif;


/* ------------------
    FONT SIZES
-------------------*/

$regular: 15px;
$h1: 50px;
$h2: 42px;
$h3: 34px;
$h4: 28px;
$h5: 22px;
$footer-fonts: 12px;
