!-- index.njk -->
{% extends "layout.njk" %}

{% block content %}
  <div class="content-wrapper">
    <div class="component">
      <h3>What is your Sandbox instance?</h3>
      <form action="/upgrade-info.html" type="GET" class="form-primary">
        <input placeholder="org instance, eg CS81" type="text" required />
        <input type="submit" class="button" value="submit" />
      </form>
    </div>
    <div class="general-content">
      <h4>Unsure of your Sandbox Instance?</h4>
      <p>To determine which instance your Sandbox is on, log into your production org and navigate to your Sandbox List page (Search "Sandbox" in the Quick Find bar on the Setup Home Page).</p>
      <img src="/images/listpage.png" alt="list page" />
      <p>Your sandbox instance is listed in the <strong>Location</strong> column above.</p>
    </div>
    <div class="divider"></div>
    <div class="general-content helpful-links">
      <h4>Additional Information</h4>
      <p>Get more in-depth information about the Sandbox Preview on the <a href="https://www.salesforce.com/blog/2017/12/salesforce-spring-18-sandbox-preview-instructions">Salesforce Blog</a>.</p>
      <p>Watch a video on <a href="http://salesforce.vidyard.com/watch/dzC5Xx9GF8dJEM8wUqGim5">Demystifying Sandbox Preview</a>.</p>
  </div>
{% endblock %}
