!-- upgrade-info.njk -->
{% extends "layout.njk" %}

{% block content %}
  <div class="upgrade-content">
    <div class="content-wrapper">
      <h5>Your Sandbox is: CS81 - PREVIEW</h5>
      <h3>What would you like information on?</h3>
      <p class="upgrade-option" id="upgrade">Upgrade to Spring '18<br />(get the Preview)</p>
      <div class="component upgrade-info" id="upgrade">
        <!-- dynamically insert the proper response from csv here -->
      </div>
      <p class="upgrade-option" id="stay">Stay on Winter '18<br />(no Preview)</p>
      <div class="component upgrade-info" id="stay">
        <!-- dynamically insert the proper response from csv here -->
      </div>
    </div>
  </div>
{% endblock %}
