!-- upgrade-info.njk -->
{% extends "layout.njk" %}

{% block content %}
  <div class="upgrade-content">
    <div class="content-wrapper">
      <h5>Your Sandbox is: CS81 - PREVIEW</h5>
      <div class="component">
        <h3>What would you like information on?</h3>
        <p class="upgrade-option" id="upgrade">Upgrade to Spring '18</p>
        <p class="upgrade-option" id="stay">Stay on Winter '18</p>
      </div>
    </div>
  </div>
{% endblock %}
