<!DOCTYPE html>
<html lang="en">
<% include ../partials/head.ejs %>

  <body>
    <div class="wrapper">
      <div class="body-wrapper">
        <% include ../partials/nav.ejs %>
          <% include ../partials/header.ejs %>
            <div class="content-wrapper">
              <div class="component">
                <div class="general-content">
                  <img src="/images/SandboxPreview_CheatSheet.png" alt="Sandbox Preview CheatSheet" />
                </div>
                <div class="divider"></div>
                <div class="helpful-links">
                  <h4>Additional Information</h4>
                  <p>Get more in-depth information about the Sandbox Preview on the
                    <a href="https://www.salesforce.com/blog/2018/04/summer-18-sandbox-preview.html"
                      target="_blank">Salesforce Blog</a>.</p>
                  <p>Watch a video on
                    <a href="http://salesforce.vidyard.com/watch/dzC5Xx9GF8dJEM8wUqGim5" target="_blank">Demystifying Sandbox Preview</a>.</p>
                  <p>For more resources, to ask questions, and engage with experts around release readiness, please join the
                    <a href="http://www.salesforce.com/success-releasereadiness" target="_blank"> Release Readiness &amp; Feature Adoption</a> group in the Trailblazer Community.</p>
                </div>
              </div>
            </div>
      </div>
      <% include ../partials/footer.ejs %>
        <% include ../partials/script_section.ejs %>
    </div>
  </body>

</html>