<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

    <div class="jumbotron text-center">
      <div class="container">

        <% results.forEach(function(r) { %>

        <div class="row">
          <p>Sandbox: <b><%= r.org_id  %> - <%= r.org_type  %></b></p>
        </div> 
        <hr style="border-top: 2px solid #ccccff; width: 75%; " />
        <div class="row">
          <p>What do you want to do with <%= r.org_id  %>?</p>
        </div>
        <div class="row">
          <form action="/upgrade" class="form-primary" size="10">
            <div class="col-md-4"></div>
            <div class="col-md-2">
              <input type="submit" class="btn btn-lg btn-primary" value="UPGRADE"/>
            </div>
            <div class="col-md-3" style="text-align: left;">
              <p>to Winter '18 ?</p>
            </div>
            <div class="col-md-3"></div>
          </form>
        </div>
        <div class="row">
          <form action="/stay" class="form-primary" size="10">
            <div class="col-md-4"></div>
            <div class="col-md-2">
              <input type="submit" class="btn btn-lg btn-primary" value="&nbsp;&nbsp;&nbsp;&nbsp;STAY&nbsp;&nbsp;&nbsp;&nbsp;" />
            </div>
            <div class="col-md-3" style="text-align: left;">
              <p>on Summer '17 ?</p>
            </div>
            <div class="col-md-3"></div>
          </form>
        </div>
      </div>

      <% }); %>

    </div>
    <div class="container">
      <div class="alert alert-info text-center" style="display: none;" role="alert">
        Some messages / alerts for the users here.
      </div>
    </div>

</body>

</html>