<!DOCTYPE html>
<html lang="en">
<% include ../partials/head.ejs %>

<body>
  <div class="wrapper">
    <div class="body-wrapper">
      <% include ../partials/nav.ejs %>
      <% include ../partials/header.ejs %>
      <div class="upgrade-content">
          <div class="instance-display-site" style="margin-top:-40px">
            <div class="release-name-block">
              <p class="instance-header" style="color: black;">Your Lookup Results</p>
            </div>
          </div>
          <div class="sandbox-table">
              <table>
                <tr>
                    <th class="sandbox-table-col-header">Instance</th>
                    <th class="sandbox-table-col-header">Location</th>
                    <th class="sandbox-table-col-header">Next Release</th>
                    <th class="sandbox-table-col-header">Next Release Date</th>
                  </tr>
                  <% results.forEach(function(r) { %>
                  <tr>
                    <td class="sandbox-table-col-data"><%= r.instance  %></td>                      
                    <td class="sandbox-table-col-data"><%= r.location  %></td>
                    <td class="sandbox-table-col-data"><%= r.nextRelease  %></td>
                    <td class="sandbox-table-col-data"><%= r.nextReleaseDate %></td>
                  </tr>
                  <% }); %>
              </table>
          </div>
      </div>
    </div>
    <% include ../partials/footer.ejs %>
    <% include ../partials/script_section.ejs %>
  </div>
</body>
</html>