<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <h2>Salesforce - Sandbox Preview Guide</h2>
    <p>What Org Instance do you have a question about?</p>
    <form action="/choose" class="form-primary" size="10">
      <div>
        <select name="org_name">
            <% results.forEach(function(r) { %>
                <option value="<%= r.id %>"</option><%= r.org_id %></option>
            <% }); %>
        </select>
      </div>
      <input type="submit" class="btn btn-lg btn-primary" value="Get Info" />
    </form>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    Some messages / alerts for the users here.
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
        <h3><span class="glyphicon glyphicon-link"></span> Helpful Links</h3>
        <ul>
          <li><a href="https://www.heroku.com/home">Heroku</a></li>
          <li><a href="https://devcenter.heroku.com/">Heroku Dev Center</a></li>
          <li><a href="https://devcenter.heroku.com/articles/getting-started-with-nodejs">Getting Started with Node on Heroku</a></li>
          <li><a href="https://devcenter.heroku.com/articles/deploying-nodejs">Deploying Node Apps on Heroku</a></li>
        </ul>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> Next Steps</h3>
      <ul>
        <li>If you are following the <a href="https://devcenter.heroku.com/articles/getting-started-with-nodejs">Getting Started</a> guide, then please head back to the tutorial and follow the next steps!</li>
        <li>If you deployed this app by deploying the Heroku Button, then in a command line shell, run:</li>
      </ul>
    </div>
  </div> <!-- row -->
</div>

</body>
</html>
