<!DOCTYPE html>
<html lang="en">

<% include ../partials/head.ejs %>

<body>

  <div class="wrapper">
    <div class="body-wrapper">

      <% include ../partials/nav.ejs %>

      <% include ../partials/header.ejs %>

      <div class="content-wrapper">
        <div class="component">
          <h3>What is your Sandbox instance?</h3>
          <form action="/upgrade" type="GET" class="form-primary">
            <div id="scrollable-dropdown-menu">
              <input class="typeahead" name="org_id" placeholder="org instance, eg CS81" type="text" autocomplete="off" required />
              <input type="submit" class="button" value="submit" />
            </div>
          </form>

          <div class="general-content">
            <h4>Unsure of your Sandbox Instance?</h4>
            <p>To determine which instance your Sandbox is on, log into your production org and navigate to your Sandbox List
              page (Search "Sandbox" in the Quick Find bar on the Setup Home Page).</p>
            <img src="/images/listpage.png" alt="list page" />
            <p>Your sandbox instance is listed in the
              <strong>Location</strong> column above.</p>
          </div>
          <div class="divider"></div>
          <div class="general-content helpful-links">
            <h4>Additional Information</h4>
            <p>Get more in-depth information about the Sandbox Preview on the
              <a href="https://www.salesforce.com/blog/2017/12/salesforce-spring-18-sandbox-preview-instructions" target="_blank">Salesforce Blog</a>.</p>
            <p>Watch a video on
              <a href="http://salesforce.vidyard.com/watch/dzC5Xx9GF8dJEM8wUqGim5" target="_blank">Demystifying Sandbox Preview</a>.</p>
            <p>For more resources, to ask questions and engage with experts around release readiness, please join the
                <a href="http://www.salesforce.com/success-releasereadiness" target="_blank"> Release Readiness & Feature Adoption</a> group 
                in the Trailblazer Community.</p>
          </div>
        </div>

        <% include ../partials/footer.ejs %>

      </div>

    <% include ../partials/script_section.ejs %>

</body>

</html>