<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>
<style>
    table, th, td {
        border: 1px solid black;
        text-align: center;
    }
</style>
</head>

<body>
        
    <% include ../partials/nav.ejs %>

<div class="container">

    <form action="/input" size="10">
        <select name="org_name">
            <% results.forEach(function(r) { %>
                <option value="<%= r.id %>"</option><%= r.org_id %></option>
            <% }); %>
        </select>
        <br><br>
        <input type="submit">
    </form>

<br />

</div>

</body>
</html>
