<!DOCTYPE html>
<html lang="en">
<% include ../partials/head.ejs %>
    <body>
        <div class="wrapper">
            <div class="body-wrapper">
                <% include ../partials/nav.ejs %>
                    <% include ../partials/header.ejs %>
                        <div class="content-wrapper">
                            <div class="container">
                                <div>
                                    <table>
                                        <tr>
                                            <h3>Sandbox Instances [All | <a href="/sandbox/preview">Preview</a> | <a href="/sandbox/nonpreview">Non-Preview</a>]</h3>
                                        </tr>
                                    </table>
                                </div>
                                <div id="wrapperGrid"></div>
                            </div>
                        </div>
                </div>
                <% include ../partials/footer.ejs %>
                <% include ../partials/script_section.ejs %>
        </div>
        <% include ../partials/sb_grid_script.ejs %>
    </body>
</html>