<!DOCTYPE html>
<html lang="en">
<% include ../partials/head.ejs %>
    <body>
        <div class="wrapper">
            <div class="body-wrapper">
                <% include ../partials/nav.ejs %>
                    <% include ../partials/header.ejs %>
                        <div class="content-wrapper">
                            <div class="container">
                                <div>
                                    <table>
                                        <tr>
                                            <h3>Sandbox Instances</h3>
                                            <br/>
                                        </tr>
                                    </table>
                                </div>
                                <div id="wrapperGrid"></div>
                            </div>
                        </div>
                </div>
                <% include ../partials/footer.ejs %>
                <% include ../partials/script_section.ejs %>
        </div>

        <script>
            $("div#wrapperGrid").Grid({
                columns: [{
                    name: "Instance",
                    width: '25%'
                },{
                    name: "Type",
                    width: '25%'
                },{
                    name: "Region",
                    width: '25%'
                },{
                    name: "Release Name",
                    width: '25%'
                }],
                search: true,
                selecting: true,
                pagination: false,
                sort: true,
                data: [
                    <% results.forEach(function(r) { %>
                    ["<%= r.Instance %>", "<%= r.Type %>", "<%= r.Region %>", "<%- r.Release %>"],
                    <% }); %>
                ]
            });
        </script>
    </body>
</html>