<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1, maximum-scale=1, user-scalable=no">
  <title>Sandbox Refresh</title>
  <link rel="stylesheet" href="/css/main.css">
</head>

<body>

  <div class="wrapper">
    <div class="body-wrapper">

      <nav class="nav-container">
        <div class="content-wrapper">
          <div class="sf-logo">
            <img src="/images/sf-logo.png" alt="Salesforce" />
          </div>
        </div>
      </nav>

      <header class="header-container">
        <div class="content-wrapper">
          <div class="half">
            <h1>Salesforce Sandbox
              <br />Preview Guide</h1>
          </div>
          <div class="half">
            <p>Are you taking advantage of the Sandbox Preview window to test, catch, and report bugs before they bite? Enter
              your Sandbox instance below to determine what needs to be done, based on what instance your sandbox org is
              currently on.</p>
          </div>
        </div>
      </header>

      <% results.forEach(function(r) { %>

        <div class="upgrade-content">
          <div class="content-wrapper">
              <p style="font-size:1.5em">Your Sandbox <strong><%= r.org_id  %></strong> is a <%= r.org_type  %> Instance,<br/>on <%= r.external_rel_name  %></p>
            <h3>What would you like information on?</h3>
            <p class="upgrade-option" id="upgrade">Upgrade to Spring '18
              <br />(get the Preview)</p>
            <div class="component upgrade-info" id="upgrade">

              <% if (r.org_type == "PREVIEW") { %>

                <!-- replace text below with dynamic data from CSV file -->
                <p>
                  <strong>No action is needed</strong> as your Sandbox is already on a Preview Instance</p>
                <p>If you need to refresh for other reasons, do so well in advance of 11:59pm PT on January 4, 2018 (7:59 UTC
                  on January 5, 2018) to make sure your Sandbox completes before the deadline. If you refresh after the deadline
                  or your Sandbox doesn't complete in time, it will be built on a Non-Preview Instance.</p>

              <% } %>

              <% if (r.org_type == "NON-PREVIEW") { %>

                <!-- replace text below with dynamic data from CSV file -->
                <p>To get the preview, we require you to refresh to a Sandbox instance that will be upgraded early to Spring
                  '18.</p>

                <p>
                  <strong>Please refresh well in advance of 11:59p.m. PT on January 4, 2018 (07:59 UTC on January 5, 2018)</strong>.
                  If you refresh after the deadline or your Sandbox doesn't complete in time, it will be built on a Non-Preview
                  instance.</p>

              <% } %>

            </div>
            <p class="upgrade-option" id="stay">Stay on Winter '18
              <br />(no Preview)</p>
            <div class="component upgrade-info" id="stay">

              <% if (r.org_type == "PREVIEW") { %>

                <!-- replace text below with dynamic data from CSV file -->
                <p>To stay on Winter '18, we require you to refresh to a Non-Preview Sandbox Instance.</p>
                <p>
                  <strong>Please wait and refresh after 12:00am PT on January 5, 2018 (8:00 UTC on January 5, 2018).</strong> If
                  you refresh before this date, your Sandbox may be built on a Preview Instance.</p>

              <% } %>

              <% if (r.org_type == "NON-PREVIEW") { %>

                <!-- replace text below with dynamic data from CSV file -->
                <p>
                  <strong>No action is needed</strong> as your Sandbox is already on a Non-Preview Instance</p>
                <p>If you need to refresh for other reasons, please wait and refresh after 12:00 a.m. PT on January 5, 2018
                  (8:00 UTC on January 5, 2018) to remain on a Non-Preview Instance.</p>

              <% } %>

            </div>

            <p style="font-size:1.5em"><strong>Note: </strong> If you decide to stay on the current Winter ‘18 release, your Sandbox will not be upgraded to
              Spring ‘18 until February 10, 2018.
            </p>

          </div>
        </div>

        <% }); %>

    </div>

    <footer class="footer-wrapper">
      <div class="content-wrapper">
        <div class="footer-links">
          <a href="https://www.salesforce.com/company/privacy/">Privacy</a>&nbsp;|&nbsp;
          <a href="https://www.salesforce.com/company/disclosure/">Responsible Disclosure</a>&nbsp;|&nbsp;
          <a href="https://trust.salesforce.com/en/">Trust</a>&nbsp;|&nbsp;
          <a href="https://www.salesforce.com/form/contact/contactme.jsp">Contact</a>
        </div>
        <div class="footer-legal">
          <p>&copy;Copyright 2017 Salesforce.com, inc. All rights reserved. Various trademarks held by their respective owners.
            Salesforce.com, inc. The Landmark at One Market, Suite 300, San Francisco, CA 94105, United States</p>
        </div>
      </div>
    </footer>

  </div>

  <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/corejs-typeahead/1.2.1/typeahead.bundle.js"></script>
  <script src="/js/main.js"></script>

</body>

</html>