<!DOCTYPE html>
<html lang="en">
<% include ../partials/head.ejs %>

<body>
  <div class="wrapper">
    <div class="body-wrapper">
      <% include ../partials/nav.ejs %>
      <% include ../partials/header.ejs %>
      <div class="upgrade-content">
          <div class="instance-display-site" style="margin-top:-40px">
            <div class="release-name-block">
              <p class="instance-header" style="color: black;">Your Sandbox Inquiry Results</p>
            </div>
          </div>
          <div class="sandbox-table"><table>
            <tr>
              <th class="sandbox-table-col-header">Instance</th>
              <th class="sandbox-table-col-header">Instance Type</th>
              <th class="sandbox-table-col-header">Release</th>
              <th class="sandbox-table-col-header">Trust Info</th>
            </tr>
            <% results.forEach(function(r) { %>
            <tr>
              <td class="sandbox-table-col-data"><%= r.org_id  %></td>
              <td class="sandbox-table-col-data"><%= r.org_type  %></td>
              <td class="sandbox-table-col-data"><%= r.external_rel_name  %></td>
              <td class="sandbox-table-col-data">
                <a target="_blank" href="https://status.salesforce.com/instances/<%= r.org_id  %>/maintenances">Maintenance Schedule</a>
              </td>
            </tr>
          </table></div>
        <div class="content-wrapper">
          <h4>What would you like to do with your sandbox?</h4>
          <p class="upgrade-option" id="upgrade">Upgrade to Spring '20
            <br />by January 3, 2020</p>
          <div class="component upgrade-info" id="upgrade">
            <% if (r.org_type == "Preview") {  %>
            <p>
              <strong>No action is needed</strong> as your Sandbox is already on a Preview Instance</p>
            <p>If you need to refresh for other reasons, do so well in advance of <strong>January 3, 2020</strong> to make 
              sure your Sandbox completes before <strong>12:00 p.m. PT on January 3, 2020 (19:00 UTC on January 3, 2020)</strong>. 
              If you refresh after the deadline or your Sandbox doesn't complete in time, it will be built 
              on a Non-Preview Instance.</p>
            <% } %>
            <% if (r.org_type == "Non-Preview") { %>
            <p>To get the preview, we require you to refresh to a Sandbox instance that will be upgraded early
              to Spring '20.
            </p>
            <p>
              <strong>Please refresh well in advance of January 3, 2020</strong>. If you refresh after 
              <strong>12:00 p.m. PT on January 3, 2020 (19:00 UTC on January 3, 2020)</strong> 
              or your Sandbox doesn't complete in time, it will be built on a Non-Preview instance.
            </p>
            <% } %>
          </div>
          <p class="upgrade-option" id="stay">Stay on Winter '20
            <br />until February 15, 2020</p>
          <div class="component upgrade-info" id="stay">
            <% if (r.org_type == "Preview") { %>
            <p>To stay on Winter '20, we require you to refresh to a Non-Preview Sandbox Instance.</p>
            <p><strong>Please wait and refresh after 1:00 p.m. PT on January 3, 2020 
              (20:00 UTC on January 3, 2020).</strong> If you refresh before this time, 
              your Sandbox may be built on a Preview Instance.</p>
            <% } %>
            <% if (r.org_type == "Non-Preview") { %>
            <p>
              <strong>No action is needed</strong> as your Sandbox is already on a Non-Preview Instance</p>
            <p>If you need to refresh for other reasons, please wait and refresh after 1:00 p.m. PT on January 3,
              2020 (20:00 UTC on January 3, 2020) to remain on a Non-Preview Instance.</p>
            <% } %>
          </div>
          <p class="large">
            <strong>Note: </strong> All production and sandbox environments will be upgraded to Spring '20 by February 15, 2020.
          </p>
          <% }); %>
          <div class="component">
            <div class="divider"></div>
            <% include ../partials/helpful-links.ejs %>
          </div>
        </div>
      </div>
    </div>
    <% include ../partials/footer.ejs %>
    <% include ../partials/script_section.ejs %>
  </div>
</body>
</html>